[Unit]
Description=CAN Bus Reader Service
After=network.target

[Service]
Type=simple
ExecStart=/home/erwa/Projects/WE-EV-CAN-Dashboard/bin/reader
WorkingDirectory=/home/erwa/Projects/WE-EV-CAN-Dashboard
Restart=on-failure
RestartSec=5
User=erwa
Group=erwa

[Install]
WantedBy=multi-user.target
